<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, Bootstrap Table!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
  </head>
  <body  style="background-color: honeydew;">
	<div style="margin:100px;">
	<h3>后台数据统计:</h3>
    <table class="table table-hover table-condensed" data-toggle="table" data-pagination="true">
      <thead>
        <tr>
          <th data-field="id">ID</th>
          <th data-field="time_bucket">时间段</th>
          <th data-field="types">类型</th>
          <th data-field="open">状态</th>
          <th data-field="operate">操作</th>
        </tr>
      </thead>
      <tbody>
		{foreach name='rounds' item='round'}
        <tr>
		  <td>{$round.id}</td>
		  <td>{$round.stime .'~'. $round.etime}</td>
		  <td>{$round.types}</td>
		  <td class="text-center">
				<?php 
					if ($round.open == 1) {
						$status = '启用中';
					} else if ($round.open == 2) {
						$status = '已结束';
					}
				?>
				  {$round.open ? '启用中':''}</td>
          <td>
				 {if ($round.open == 1) }
				  <button type="button" class="btn btn-close btn-primary">关闭</button>
				 {/if}
				  <button type="button" class="btn btn-delete btn-danger">删除</button>
		  </td>
        </tr>
		{/foreach}
      </tbody>
    </table>
	<div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
  </body>
</html>
