          <footer class="main-footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6 offset-md-3 text-center">
                  <p>Copyright &copy; 2019.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
                </div>
                <div class="col-sm-6 text-right">
                  <p></p>
                </div>
              </div>
            </div>
          </footer>
